@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 80%;
    padding: 0 10%;
}





/* navigation section styles */
#header-top{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 30px;
    margin-right: 10px;
}
.logo p{
    font-size: 20px;
    font-weight: 500;
}
.logo p span{
    font-size: 20px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
nav a{
    display: block;
    margin: auto;
    color: dimgray;
    padding: 0 5px;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.sign a{
    margin: auto;
    display: block;
    color: dimgray;
    font-weight: 500;
}
.sign .active{
    color: black;
}





/* hero section styles */
#hero{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}
.hero-box{
    width: 48%;
}
.hero-box h1{
    font-size: 3em;
    font-weight: 500;
    margin-top: 50px;
}
.hero-box h1>span{
    font-weight: 700;
}
.hero-box p{
    color: dimgray;
    margin: 50px 0;
}
.hero-box img{
    width: 100%;
}
.big-btn{
    display: inline-block;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-weight: 500;
    background-color: #F53838;
}