@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 80%;
    padding: 0 10%;
    margin: 80px 0;
}





/* navigation section styles */
#header-top{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-right: 10px;
}
.logo p{
    font-size: 20px;
    font-weight: 500;
}
.logo p span{
    font-size: 20px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
nav a{
    display: block;
    margin: auto;
    color: dimgray;
    padding: 0 5px;
    transition: all .2s 0s ease;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.sign a{
    margin: auto;
    display: block;
    color: dimgray;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s 0s ease;
}
.sign .active{
    color: black;
}





/* hero section styles */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-box{
    width: 48%;
}
.hero-box h1{
    font-size: 3em;
    font-weight: 500;
}
.hero-box h1>span{
    font-weight: 700;
}
.hero-box p{
    color: dimgray;
    margin: 30px 0;
    line-height: 25px;
}
.hero-box img{
    width: 100%;
}
.big-btn{
    display: inline-block;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-weight: 500;
    background-color: #F53838;
    transition: box-shadow .5s 0s ease;
}





/* showcase section styles */
#show-container{
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 20px gainsboro;
}
.show-box{
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 40px 0;
    padding: 20px 0;
    border-right: 2px solid gainsboro;
}
.show-box .show-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 60px;
    height: 60px;
    background: #FFECEC;
    border-radius: 50%;
    transition: background .5s 0s ease,
                box-shadow .5s 0s ease;
}
.show-box .fas{
    display: block;
    font-size: 1.2em;
    color: #F53838;
}
.show-box-txt p{
    margin: 10px 0;
    font-size: 1.2em;
    color: dimgray;
}
.show-box.no-border{
    border: none;
}





/* features section styles */
#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-box{
    width: 45%;
}
.feature-box h1{
    font-size: 2.7em;
    font-weight: 500;
}
.feature-box p{
    color: dimgray;
    margin: 20px 0;
    font-size: .9em;
}
.feature-box .feature-txt{
    margin: 30px 0;
    font-size: 1em;
}
.feature-box p i{
    color: #2FAB73;
    font-size: 1.2em;
    margin-right: 15px;
}
.feature-box img{
    width: 100%;
}
.feature-box p span{
    transition: color .2s 0s ease;
}





/* pricing section styles */
#pricing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.price-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15%;
    padding-bottom: 5%;
    border: 2px solid gainsboro;
    border-radius: 10px;
    transition: border-color .3s 0s ease,
                box-shadow .3s 0s ease;
}
.price-box-top{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.price-box-top img{
    width: 90%;
    align-self: center;
}
.price-box-top h2{
    margin: 30px 0;
    align-self: center;
    font-weight: 600;
    font-size: 1.2em;
}
.price-box-top p{
    font-size: .8em;
    color: dimgray;
    margin: 10px 0;
}
.price-box-top p>i{
    font-size: 1em;
    color: #2FAB73;
    margin-right: 10px;
}
.price-box-btm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-box-btm h1{
    font-weight: 600;
}
.price-box-btm h1>span{
    color: dimgray;
    font-weight: 400;
}
.price-box-btm a{
    margin: 20px 0;
    padding: 10px 35px;
    font-weight: 500;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 20px;
    transition: background .3s 0s ease,
                color .3s 0s ease,
                box-shadow .3s 0s ease;
}





/* global section styles */
#global{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#global h1{
    width: 35%;
    font-weight: 600;
    font-size: 2.2em;
    margin: 30px 0;
}
#global p{
    width: 50%;
    line-height: 2em;
}
#global p span{
    cursor: pointer;
    font-weight: 500;
    transition: color .2s 0s ease;
}
#global img{
    margin-top: 75px;
    width: 90%;
}





/* sponsor section styles */
#sponsor{
    margin: 50px 0;
}
#sponsor-container{
    border-radius: 10px;
    box-shadow: 0 10px 20px gainsboro;
    transition: box-shadow .2s 0s ease;
}
#sponsor-container h1{
    padding-top: 50px;
    text-align: center;
    font-weight: 500;
    color: dimgray;
    font-size: 2.5em;
    opacity: .5;
}
#sponsor-box{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
#sponsor-container img{
    width: 100%;
}





/* testimonials section styles */
#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#testimonials h1{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    width: 40%;
    margin-top: 30px;
}
#testimonials>p{
    text-align: center;
    padding: 35px 0;
    color: dimgray;
    width: 55%;
}
#testimonial-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.testimonial-box{
    border: 2px solid #FFBABA;
    border-radius: 10px;
    padding: 20px;
    margin: 50px 0;
    cursor: pointer;
    transition: box-shadow .2s 0s ease,
                transform .3s 0s ease;
}
.test-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.test-top img{
    width: 20%;
    border-radius: 50%;
}
.test-top .client{
    width: 40%;
}
.test-top .client h2{
    font-weight: 500;
}
.test-top .client p{
    font-size: .8em;
    color: dimgrey;
}
.test-top .rate{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.test-top .rate p>i{
    font-size: .9em;
    padding-left: 5px;
    color: #F53838;
}
.test-btm{
    margin-top: 20px;
    font-size: .9em;
    color: dimgray;
}





/* newsletter section styles */
#news-container{
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px gainsboro;
}
.news-txt{
    width: 40%;
}
.news-txt h1{
    font-weight: 600;
    font-size: 2em;
}
.news-txt p{
    color: dimgray;
    margin: 20px 0;
}





/* footer section styles */
footer{
    padding: 75px 10%;
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foo-box{
    width: 50%;
}
.foo-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.foo-box .logo{
    margin-left: 10px;
    margin-bottom: 40px;
}
.foo-box p{
    width: 70%;
    color: dimgray;
}
.foo-box p span{
    font-weight: 500;
}
.foo-social{
    margin: 40px 0;
    display: flex;
}
.foo-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 5px 10px #C5C5C5;
}
.foo-icon i{
    color: #F53838;
    display: block;
}
#copyright{
    opacity: .5;
}
.foo-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.foo-link{
    display: flex;
    flex-direction: column;
}
.foo-link h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.2em;
}
.foo-link a{
    margin: 10px 0;
    font-size: .9em;
    color: dimgray;
    display: block;
}









/* Animations */
@media only screen and (min-width: 992px) {
    /* navigation */
    nav a:hover{
        color: #F53838;
    }
    .sign a:hover{
        background: #F53838;
        box-shadow: 0 10px 20px #FFBABA;
        color: white;
    }

    /* hero */
    .big-btn:hover{
        box-shadow: 0 20px 40px #FFBABA;
    }

    /* showcase */
    .show-icon:hover{
        background: white;
        box-shadow: 5px 10px 30px #CFCFCF;
    }

    /* features */
    .feature-box p span:hover{
        color: #2FAB73;
    }

    /* pricing */
    .price-box:hover{
        border-color: white;
        box-shadow: 0 0px 40px #CFCFCF;
    }
    .price-box:hover a{
        background-color: #F53838;
        color: white;
    }
    .price-box a:hover{
        box-shadow: 0 10px 20px #FFBABA;
    }

    /* global */
    #global p span:hover{
        color: #F53838;
    }

    /* sponsor */
    #sponsor-container:hover{
        box-shadow: 0px 10px 20px #FFBABA;
    }

    /* testimonials */
    .testimonial-box:hover{
        box-shadow: 0 10px 20px gainsboro;
        transform: translateY(-10px);
    }

    /* footer */
    .foo-box p span:hover{
        color: #F53838;
    }
    .foo-link a:hover{
        color: #F53838;
    }
}
