@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 80%;
    padding: 0 10%;
    margin: 80px 0;
}





/* navigation section styles */
#header-top{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-right: 10px;
}
.logo p{
    font-size: 20px;
    font-weight: 500;
}
.logo p span{
    font-size: 20px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
nav a{
    display: block;
    margin: auto;
    color: dimgray;
    padding: 0 5px;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.sign a{
    margin: auto;
    display: block;
    color: dimgray;
    font-weight: 500;
}
.sign .active{
    color: black;
}





/* hero section styles */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-box{
    width: 48%;
}
.hero-box h1{
    font-size: 3em;
    font-weight: 500;
}
.hero-box h1>span{
    font-weight: 700;
}
.hero-box p{
    color: dimgray;
    margin: 30px 0;
    line-height: 25px;
}
.hero-box img{
    width: 100%;
}
.big-btn{
    display: inline-block;
    border-radius: 10px;
    padding: 15px 50px;
    color: white;
    font-weight: 500;
    background-color: #F53838;
}





/* showcase section styles */
#show-container{
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 20px gainsboro;
}
.show-box{
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 40px 0;
    padding: 20px 0;
    border-right: 2px solid gainsboro;
}
.show-box .show-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 60px;
    height: 60px;
    background: #FFECEC;
    border-radius: 50%;
}
.show-box .fas{
    display: block;
    font-size: 1.2em;
    color: #F53838;
}
.show-box-txt p{
    margin: 10px 0;
    font-size: 1.2em;
    color: dimgray;
}
.show-box.no-border{
    border: none;
}





/* features section styles */
#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-box{
    width: 45%;
}
.feature-box h1{
    font-size: 2.7em;
    font-weight: 500;
}
.feature-box p{
    color: dimgray;
    margin: 20px 0;
    font-size: .9em;
}
.feature-box .feature-txt{
    margin: 30px 0;
    font-size: 1em;
}
.feature-box p i{
    color: #2FAB73;
    font-size: 1.2em;
    margin-right: 15px;
}
.feature-box img{
    width: 100%;
}





/* pricing section styles */
#pricing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.price-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15%;
    padding-bottom: 5%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.price-box-top{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.price-box-top img{
    width: 90%;
    align-self: center;
}
.price-box-top h2{
    margin: 30px 0;
    align-self: center;
    font-weight: 600;
    font-size: 1.2em;
}
.price-box-top p{
    font-size: .8em;
    color: dimgray;
    margin: 10px 0;
}
.price-box-top p>i{
    font-size: 1em;
    color: #2FAB73;
    margin-right: 10px;
}
.price-box-btm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-box-btm h1{
    font-weight: 600;
}
.price-box-btm h1>span{
    color: dimgray;
    font-weight: 400;
}
.price-box-btm a{
    margin: 20px 0;
    padding: 10px 35px;
    font-weight: 600;
    color: #F53838;
    border: 2px solid #F53838;
    border-radius: 20px;
}





/* global section styles */
#global{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#global h1{
    width: 35%;
    font-weight: 600;
    font-size: 2.2em;
    margin: 30px 0;
}
#global p{
    width: 50%;
    line-height: 2em;
}
#global p span{
    font-weight: 500;
}
#global img{
    margin-top: 75px;
    width: 90%;
}





#sponsor{
    margin: 50px 0;
}
#sponsor-container{
    border-radius: 10px;
    box-shadow: 0 10px 20px gainsboro;
}
#sponsor-container h1{
    padding-top: 50px;
    text-align: center;
    font-weight: 500;
    color: dimgray;
    font-size: 2.5em;
    opacity: .5;
}
#sponsor-box{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
#sponsor-container img{
    width: 100%;
}